/* LUKUJÄRJESTYKSEN PIKAOPAS */
table#table-timetable tr td#pikaopas{
color: #FFFFFF;
background-color: #DCDCDC;
background-image: url('../img/null.png');
line-height: 22px;
text-align: center;
}

/* KURSSILISTAN SARAKKEEN LISÄÄ-PAINIKE */
.lisaa-painike {
	background-color: transparent;
	background-image: url('../img/add.png');
	background-position: center center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	border: 0;
	cursor: pointer;
}

#listaus {
	box-shadow: 0 0 15px #000000;
	font: normal 12px 'Verdana';
	color: #FFFFFF;
	background-color: #8192AA;
	border-left: 3px solid #808080;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 450px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

#listaus td {
	border: 1px solid #5C687A;
	background-color: #8192AA;
	padding: 5px 10px 5px 10px;
}

#listaus td:first-child {
	padding-left: 30px;
	text-align: left;
}

#listaus th {
	border: 1px solid #5C687A;
	background-color: #8192AA;
	padding: 5px 10px 5px 10px;
}

#listaus th:first-child {
	text-align: left;
}
/* GENERAL TAGS */
a, a:visited {
	color: #FFFFFF;
	font: inherit;
	text-decoration: none;
}

a:active, a:hover {
	color: #FFFFFF;
	font: inherit;
	text-decoration: none;
}

html, body {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	/*       user-select: none; */
	-o-user-select: none;
	background-image: url('../img/back.png');
	font: normal 12px Verdana;
	margin: 0;
	padding: 0;
	height: 100%;
	color: #FFFFFF;
}

/* GUIDE */
#guide {
	border: 2px solid #FFFFFF;
	border-radius: 15px;
	padding: 2px 6px 2px 6px;
	color: #FFFFFF;
	font: bold 14px Georgia;
	float: right;
	text-shadow: none;
	margin-top: 3px;
}

#cloud {
	position: absolute;
	right: 66px;
	top: 553px;
	width: 200px;
	height: auto;
	padding: 10px 12px 10px 12px;
	background-color: #DCDCDC;
	color: #696969;
	box-shadow: 0 0 15px #696969;
	border-radius: 10px 0 10px 10px;
	font: normal 12px 'Verdana';
	text-shadow: none;
	display: block;
	visibility: hidden;
}

/* TABLE: COURSES */
table#table-courses {
	width: 1186px;
	border-collapse: collapse;
	font: normal 11px Verdana;
	color: #FFFFFF;
	text-shadow: none;
	margin-left: 2px;
}

table#table-courses tr td {
	padding: 5px;
	border: 1px solid #5C687A;
	max-width: 150px;
	white-space: inherit;
	overflow: inherit;
	text-overflow: inherit;
	font: normal 11px Verdana;
}

table#table-courses tr td:last-child {
	background-color: transparent;
	padding: 0;
	max-width: 20px;
}

table#table-courses tr th {
	padding: 3px;
	background-image: url('../img/null.png');
	text-align: left;
	width: auto;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-bottom: 1px solid #5C687A;
	border-right: 1px solid #808080;
	font: bold 11px Verdana;
	color: #4B3939;
}

table#table-courses tr {
	background-color: #8192AA;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table#table-courses tr:hover {
	background-color: #93A7C2;
}

/* TABLE: FILTERS */
table#table-filters {
	position: relative;
	margin: 10px 0 1px 0;
	padding: 0;
	border: 0;
	width: 1190px;
	table-layout: fixed;
	/* border-collapse: collapse; */
	border: 0;
}

table#table-filters tr td select {
	width: 100%;
	color: #000000;
	font: normal 12px 'Verdana';
}

table#table-filters tr td {
	width: 20%;
}

/* TABLE: TIMETABLE */
table#table-timetable {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	width: 1190px;
	table-layout: fixed;
}

table#table-timetable tr th {
	background-image: url('../img/null.png');
	color: #FFFFFF;
	font: normal 12px 'Verdana';
	padding: 3px;
}

table#table-timetable tr td {
	background-image: url('../img/null.png');
	border: 0px solid #715656;
	padding: 0;
	vertical-align: top;
	width: 165px;
}

table#table-timetable tr td div {
	font: normal 11px 'Verdana';
	color: #5A6673;
	line-height: 125%;
	text-shadow: none;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	padding: 10px;
	position: relative;
	margin-bottom: 2px;
	height: auto;
	width: auto;
	text-overflow: ellipsis;
	text-align: left;
}

table#table-timetable tr td div:last-child {
	margin-bottom: 0;
}

table#table-timetable tr td div.box-green {
	background: -webkit-linear-gradient(#8FBC8F, #B0C4DE);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#8FBC8F, #B0C4DE);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#8FBC8F, #B0C4DE);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#8FBC8F, #B0C4DE); /* Standard syntax */
}

table#table-timetable tr td div.box-red {
	background: -webkit-linear-gradient(#E9967A, #B0C4DE);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#E9967A, #B0C4DE);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#E9967A, #B0C4DE);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#E9967A, #B0C4DE); /* Standard syntax */
}

table#table-timetable tr td div.box-yellow {
	background: -webkit-linear-gradient(#FFCC66, #B0C4DE);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFCC66, #B0C4DE);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFCC66, #B0C4DE);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFCC66, #B0C4DE); /* Standard syntax */
}

table#table-timetable tr td button, input[type="button"] {
	color: #696969;
	background-color: #DDDDDD;
	font: bold 10px 'Verdana';
	padding: 3px;
	width: 100%;
	height: 22px;
	border: 1px solid #B0C4DE;
}

table#table-timetable tr td button:hover, input[type="button"]:hover {
	color: #696969;
	background-color: #F6F6F6;
	border: 1px solid #B0C4DE;
	outline: 0;
}

table#table-timetable tr td button:focus, input[type="button"]:focus {
	outline: 0;
}

/* LABEL */
#label {
	background-image: url('../img/logo2.png');
	background-repeat: no-repeat;
	font: normal 48px Garamond;
	padding-left: 150px;
	padding-top: 20px;
	position: absolute;
	border: 0px dashed #FFFFFF;
	left: 640px;
	top: 45px;
	width: 450px;
	height: 130px;
}

h1 {
	font-size: 48px;
	text-align: left;
	margin: 40px;
	color: #F5DEB3;
	text-shadow: 2px 2px #696969;
	padding: 0 0 0 30px;
	margin: 0;
	font-weight: normal;
}

/* CONTAINER */
#container {
	background-color: #808080;
	box-shadow: 0 0 30px #343434;
	display: inline-block;
	padding: 30px;
	position: relative;
	width: 1195px;
	margin: 0;
}

/* INFO PANEL */
#info {
	background-image: url('../img/null.png');
	/* box-shadow: 0 0px 15px #343434 inset; */
	color: #FFFFFF;
	padding: 10px 15px 10px 15px;
	position: relative;
	margin: 0 6px 20px 2px;
}